<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (album(); as albumRef) {
      <div>
        <h2 data-cy="albumDetailsHeading"><span>Album</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ albumRef.id }}</span>
          </dd>
          <dt><span>Ref</span></dt>
          <dd>
            <span>{{ albumRef.ref }}</span>
          </dd>
          <dt><span>Author</span></dt>
          <dd>
            <span>{{ albumRef.author }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ albumRef.title }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ albumRef.description }}</span>
          </dd>
          <dt><span>Duration</span></dt>
          <dd>
            <span>{{ albumRef.duration }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/album', albumRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
